.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30;
  margin: 0 auto;
  padding: 0 15px;
}
// .block-box {
//   text-align: center;
//   max-width: 96rem;
//   margin-left: auto;
//   margin-right: auto;
//   &-caption {
//     font-family: $third-font;
//     font-size: 2.4rem;
//     margin-bottom: 2.4rem;
//   }
//   &-heading {
//     font-size: 3rem;
//     text-transform: uppercase;
//     font-weight: 800;
//     margin-bottom: 4.5rem;
//     padding-bottom: 4rem;
//     position: relative;
//     &::after {
//       content: "";
//       @include size(6rem, 3px);
//       background-color: $primary-color;
//       bottom: 0;
//       @include absoluteCenter();
//     }
//   }
//   &-desc {
//     font-family: $secondary-font;
//     font-size: 1.5rem;
//     color: $text-color;
//     line-height: 1.5;
//     margin-bottom: 16rem;
//   }
//   @include maxWidth(767px) {
//     &-caption {
//       font-size: 2.2rem;
//     }
//     &-desc {
//       margin-bottom: 5rem;
//     }
//   }
// }
