$primary-color: #3f3fdb;
$secondary-color: #fe6b5e;
$third-color: #120414;
$title-color: #333333;
$text-color: #999999;
$gray-color: #f8f8f8;
$gray-dark-color: #cccccc;
$gray-light-color: #f5f5f5;
$line-color: #e5e5e5;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$wrapper: 500px;
$container: 500px;
