.news {
  padding: 5rem 0;
  &-list {
    margin-left: -2rem;
  }
  &-item {
    width: calc(33.33% - 2rem);
    margin-left: 2rem;
  }
  &-image {
    @include size(100%, 24rem);
    object-fit: cover;
  }
  &-content {
  }
  &-heading {
  }
  &-author {
  }
  &-date {
  }
  &-desc {
  }
}
