.product {
  padding: 2rem 0;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &-left {
    width: 25%;
  }
  &-right {
    width: 75%;
  }
  &-group {
    padding-bottom: 1.5rem;
  }
  &-title {
    font-size: 1.4rem;
    color: $title-color;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
  }
  &-sort {
    font-size: 1.3rem;
  }
  &-sort-item {
    margin-bottom: 0.5rem;
  }
  &-sort-item:hover &-sort-link {
    color: $secondary-color;
  }
  &-sort-item:hover &-sort-check {
    border: 1px solid $secondary-color;
  }
  &-sort-link {
    color: $text-color;
  }
  &-sort-check {
    @include size(1rem);
    border-radius: 100%;
    display: inline-block;
    border: 1px solid $gray-dark-color;
    margin-right: 1rem;
  }
  &-type {
    font-size: 1.3rem;
  }
  &-type-item {
    color: $text-color;
    position: relative;
    margin-bottom: 0.5rem;
  }
  &-type-item:hover {
    color: $secondary-color;
  }
  &-type-item:hover &-type-label::before {
    border: 1px solid $secondary-color;
  }
  &-type-input {
    display: none;
    &:checked + &-type-label::before {
      background-color: $secondary-color;
    }
  }
  &-type-label {
    padding-left: 1rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  &-type-label::before {
    content: "";
    position: absolute;
    @include size(1rem);
    border: 1px solid $gray-dark-color;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &-size {
    @include flexbox(stretch, space-between, row, flex, wrap);
    margin-left: -0.5rem;
  }
  &-size-item {
    font-size: 1.3rem;
    color: $text-color;
    width: calc(25% - 0.5rem);
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-size-input {
    display: none;
  }
  &-size-number {
    display: inline-block;
    border: 1px solid $gray-dark-color;
    @include size(100%, 2.5rem);
    font-size: 1.3rem;
    @include flexbox(center, center);
  }
  &-size-label {
    cursor: pointer;
  }
}
