.product {
  padding: 2rem 0;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &-left {
    width: 25%;
  }
  &-right {
    width: 75%;
  }
  &-title {
    font-size: 1.4rem;
    color: $title-color;
    text-transform: uppercase;
  }
  &-sort {
    font-size: 1.3rem;
  }
}
