.register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: white;
  &-wrapper {
    padding: 1rem 2rem 4rem 2rem;
    box-shadow: 0 0 10px $gray-dark-color;
  }
}
